
  <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Results</h1>

        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Results</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->


<br>
<br>
<br>

  <div class="row">

    <div class="col-md-4 col-sm-6 text-center">
      <div class="body-panel">
        <%= image_tag("azure.png", width: '300', height:'400') %>

        <h2>Azure</h2>

      </div>
    </div>

    <div class="col-md-4 col-sm-6 text-center">
      <div class="body-panel">
        <%= image_tag("elle.png", width: '300', height:'400') %>

        <h2>Elle Canada</h2>
      </div>
    </div>

    <a href="http://www.theglobeandmail.com/life/home-and-garden/decor/sterling-silver-flow-bracelet-inspired-by-architectural-elegance/article27320935/" target="_blank">
      <div class="col-md-4 col-sm-6 text-center">
        <div class="body-panel">
          <%= image_tag("globe_and_mail.png", width: '300', height:'400') %>

          <h2>Globe and Mail</h2>
        </div>
      </div>
    </a>
  </div>

  <br>
  <br>

  <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="body-panel text-center">
        <%= image_tag("etalk.jpg", width: '300', height:'150') %>
        <h2 class="header_panel">ETalk</h2>
      </div>

    </div>

    <a href="http://www.canadiancontractor.ca/canadian-contractor/how-a-19-year-old-entrepreneur-founder-of-fixopolis-might-inspire-you/1003274939/">
      <div class="col-md-4 col-sm-6">
        <div class="body-panel text-center">
          <div class="top_margin contractor"><%= image_tag("canadian_contractor.png", width: '300', height: '50') %></div>
            <h2 class="header_panel">Canadian Contractor</h2>
        </div>
      </div>
    </a>

    <a href="http://www.techvibes.com/blog/3d-printing-finds-emerging-niche-at-crossroads-of-fashion-and-technology-2015-10-07" target="_blank">
      <div class="col-md-4 col-sm-6">
        <div class="body-panel text-center">
          <%= image_tag("tech_vibes.png", width: '300') %>

          <h2 class="header_panel">Tech Vibes</h2>
         </div>
      </div>
    </a>
  </div>

<br>
<br>
<br>

  <div class="row">

    <a href="http://www.homeanddecor.ca/avoid-fall-home-fails-get-your-home-ready-for-colder-weather/">
      <div class="col-md-4 col-sm-6">
        <div class="body-panel text-center">
          <%= image_tag("home_decor.png", width: '300') %>

          <h2 class="header_panel">Home Decor</h2>
        </div>
      </div>
    </a>

    <a href="http://notable.ca/luca-daniel-mario-christian-and-heng-tang-todays-notable-young-entrepreneurs/" target="_blank">
      <div class="col-md-4 col-sm-6">
        <div class="body-panel text-center">
          <%= image_tag("notable_logo.png", width: '300') %>

          <h2 class="header_panel">Notable</h2>
        </div>
      </div>
    </a>
  </div>



