<!DOCTYPE html>
<html>
<head>
  <title>MeganPr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" id="my-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="/" class="navbar-brand">
        <div class="logo"></div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a href="http://meganv.herokuapp.com/pages/about">About</a>
        <li> <a href="http://meganv.herokuapp.com/pages/contact">Contact</a>
        <li> <a href="http://meganv.herokuapp.com/pages/result">Results</a>
        <li> <a href="http://meganv.herokuapp.com/pages/faq">FAQ</a>
        <li> <a href="http://meganv.herokuapp.com/pages/client_testimonials">Client Testimonials</a>
        <li> <a href="http://meganv.herokuapp.com/pages/service">Services</a>
      </ul>
    </div>
  </div>
</nav>



<div class="container">



  <%= yield %>

<!-- Footer -->
  <footer>

  <div class="row">

    <h4 class="pad_left">Contact</h4>

    <div class="col-xs-1 text-center contact_align">
      <a href="https://www.linkedin.com/in/meganvickell"><%= image_tag("linkedin_logo.png", size: '40x40') %></a>
      <br>
    </div>

    <div class="col-xs-1 text-center contact_align">
      <a href="https://www.youtube.com/channel/UClq8ciGjk_5fmLgK1d1Ua0g"><%= image_tag('youtube-round-logo.png', size: '40x40') %></a>
      <br>
    </div>

    <div class="col-xs-1 text-center contact_align">
      <a href="https://twitter.com/megan_vickell"><%= image_tag("twitter_logo.jpg", size: '40x40') %></a>
      <br>
    </div>

    <div class="col-xs-1 text-center contact_align">
      <a href="http://mvickell.tumblr.com/"><%= image_tag("blogger-circle.png", size: '40x40') %></a>
      <br>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; MVPR 2015</p>
    </div>
  </div>

  </footer>


</div>







</body>
</html>
